body {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    background-color: #003e3d;
    margin: 0;
    padding: 0;
}

.container {
    background-image: url('../image/OIG.h6LEEu1DU.png');
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 20% 20%;
    background-attachment: fixed;
}

.signup-container {
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    margin-bottom: 5%;
}

h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    color: #777;
    margin-top: 10px;
}

select, input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #003e3d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #002626;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #003e3d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo{
    width: 0px;
}

@media (max-width: 1165px) {

    .container {
        background-image: url('../image/OIG.h6LEEu1DU.png');
        background-repeat: no-repeat;
        background-size: 0%;
        background-position: 20% 20%;
        background-attachment: fixed;
    }

    .logo{
        width: 50px;
    }
}